.card {
  height: 100px;
  width: 200px;
  border-radius: 4px;
  margin-left: 10px;
}

.gain {
  border: 1px solid #00b518;
}

.loss {
  border: 1px solid #e60000;
}

.card .name {
  padding: 10px 12px;
  font-weight: bold;
}

.card .name span {
  margin: 0px 0px 0px 5px;
  font-weight: normal;
}

.card .percent {
  font-size: 0.9em;
}
